extends layout

block content
    h1  Ongoing or future courses i have planned to study:
    ul
        each course in courses
            li= course.year + ': ' + course.topic

    a(href='/courses_planned/add') Add new planned course to your courselist