doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/') Home - My Courses
    br
    a(href='/courses_done') Past courses
    br
    a(href='/courses_planned') Future courses
    block content
